src/main/resources/test.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://pushman.github.com/schema/test"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://pushman.github.com/schema/test"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>

    <xsd:element name="case">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:group ref="beans:collectionElements"/>
                    <xsd:attribute name="ignore" type="xsd:boolean"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="kit">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:group ref="beans:collectionElements"/>
                    <xsd:attribute name="ignore" type="xsd:boolean"/>
                    <xsd:attributeGroup ref="beans:beanAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>